header{
    margin-bottom: 25px;
}

.liste_erreurs
{
    list-style-type: none;
    text-align:center;
    font-weight: bold;
    font-size:1em;
    color:#D02018;
}

.user_ava
{
    height:50px;
    width:50px;
}

.nav-item {
    font-size: 1rem;
}

@media (min-width: 576px) {
    nav {
        height: 50px;
    }
}

h1 img {
    width: 70px;
}