body
{
    background-color:#DEDEDE;
    font-family: 'Roboto', sans-serif;
    
}

h1, h2, h3, h4, h5 {
    font-family: 'Balsamiq Sans', sans-serif;
}

header{
    
    margin-bottom: 25px;
}

.liste_erreurs
{
    list-style-type: none;
    text-align:center;
    font-weight: bold;
    font-size:1em;
    color:#D02018;
}

.user_ava
{
    height:50px;
    width:50px;
}