body
{
    background-color:#DEDEDE;
    font-family: 'Roboto', sans-serif;
    
}

header{
    
    margin-bottom:5px;
}

.liste_erreurs
{
    list-style-type: none;
    text-align:center;
    font-weight: bold;
    font-size:1em;
    color:#D02018;
}