.heure_filtre
{
    display:flex;
    flex-direction: row;
    align-items: center;
}

form
{
    margin-left: 2px;
}

.entete h1
{
    text-align:center;
    font-family: 'Balsamiq Sans', sans-serif;
}

.sep
{
    background-color:#ff8364;
}