
#ingredients_recette h1,#possession h1
{
    font-size: 2em;
    text-align:center;
}

#plats{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

li{
    list-style-type: none;
}

#recipe
{
    justify-content: center;
}
#times
{
    text-align:center;
    font-weight: bold;
    font-size:1.2em;
}

#timeGlobal
{
    
    font-size: 1.5em;
}

#prepBouton
{
    text-align: center;
}

#nom_recette
{
    font-family:"Segoe Script";
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recette
{
    border:2px solid black;
    box-shadow:3px 3px black;
    background-color:#ffb677;
}

