.graphes,.saisie
{
    border:1px solid black;
    text-align: center;
    background-color: #5f6caf;
}

article
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.saisie h1
{
    font-size:1.7em;
    font-weight: bold;
}

.tab
{
    justify-content: center;
}
