button
{
    color: white;
}

.inactive 
{
    background-color: lightslategrey;
    
}

.inval
{
    color:white;
}

.nonehr
{
    border:none;
}

.in-btn
{
    border-color: black;
}

a.col-lg {
    padding: 0;
}