button
{
    margin:auto;
    color: white;
}

.card
{
    background-color: #e1f4f3;
    margin:0px 3px 0px 3px;
    text-align: center;
}

.inactive 
{
    background-color: lightslategrey;
    
}

.inval
{
    color:white;
}

.nonehr
{
    border:none;
}

.in-btn
{
    border-color: black;
}

a.col-lg {
    padding: 0;
}