

li
{
    list-style-type: none;
}

.article
{
    display:flex;
    justify-content: center;
}

.contenu_article,h1
{
    text-align:center;

}
.ligne_article
{
    margin-bottom:5px;
}

.btn-primary
{
    margin:3px 0px 0px 5px;
}

.card
{
    background-color: #e1f4f3;
    text-align: center;
}
