div{
    margin:auto;
}
label,#inscr p
{
    font-weight:bold;
}

.form-control,.custom-file-label
{
    text-align:left;
}

.btn-info
{
    
    background-color: #0A6DA3;
    border-color:#0A6DA3;;
}

