
li
{
    
    list-style-type: none;
    
}

.btn-info
{
    background-color:#5f6caf;
    border-color: #5f6caf;
}

.nom_image
{
    justify-content: center;
}

.nom_image h1{
    font-size: 2em;
}


aside h1
{
    text-align:center;
}

.seances
{
    border:1px solid black;
    background-color:#e1f4f3;
    margin:0px 5px 0px 1px;

}

.liste_exercices
{
    border:1px solid black;
    background-color:#e1f4f3;
    margin:0px 5px 0px 1px;

}
